/*ブラウザの親ディブ*/
.wrapper{
  display: flex;
}


/* メインチャット*/
.main-chat{
  background-color: #ffff;
  width: calc(100vw - 300px);
}

.chat-header{
  height: 100px;
  padding: 0 40px;
}

.messages{
  height: calc(100vh - 190px);
  background-color: azure;
  padding: 46px 40px 0;

}

.form{
  height: 90px;
  background-color: darkgray;
  padding: 20px 40px;
}


/* サイドバー*/
.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-header{
  height: 100px;
  padding: 0 20px;
}

.rooms{
  height: calc(100vh - 100px);
  background-color: darkslategray;
  padding: 0 20px;
}





/* */
/* */
/* */
/* */